body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.profile-outer img {
    -moz-animation: profile-image 1s ease-in;
    -o-animation: profile-image 1s ease-in;
    -webkit-animation: profile-image 1s ease-in;
    animation: profile-image 1s ease-in;
}



.profile-image{

     border-radius: 50%
}

@-moz-keyframes profile-image {
    from { border-radius: 0 }
    to { border-radius: 50% }
}

@-webkit-keyframes profile-image {
    from { border-radius: 0 }
    to { border-radius: 50% }
}

@keyframes profile-image {
    from { border-radius: 0 }
    to { border-radius: 50% }
}

@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}

@media(min-width: 992px){
    .stick {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 10000;
    border-bottom: 1px solid #778492
}
    .header.stick{
        border-top: 0px;
        padding-top: 0px;
    }
    .stick #standardContainer{
    position: relative;
    width: 100%;
    height: 100%;

}
.stick #standardContainer > * > .social.list-inline{
    display: none;
}

.stick ~.sections-wrapper{
    margin-top: 270px;
}

.stick > * > * > .profile-image{
    width: 120px;
}

}

body{
  padding-top: 0px;
}
