<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p>Ops turned Dev. I love solving huge web problems. I love C#, but I am open to using any language/technology. I really enjoy working with cloud technologies, and utilizing the latest Continuous Integration techniques</p>

            <p>On my free time I like to play guitar, and tinker with various cloud technologies</p>
        </div>
    </div>
</section>