<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">Latest Projects</h2>
        <div class="content">

            <div class="item featured text-center">
                <h3 class="title"><a href="https://github.com/tparnell8/Untappd.Net/" target="_blank">C# Untappd API</a></h3>
                <p class="summary">A provider to allow C# devs to use the Untappd API</p>
                <div class="featured-image">
                    <a href="https://github.com/tparnell8/Untappd.Net/" target="_blank">
                        <img class="img-responsive center-block project-image" src="~/Images/Untappd2.jpg" alt="Untappd Logo" />
                    </a>
                    @*<div class="ribbon">
                    <div class="text">Fork us on Github</div>
                </div>*@
                </div>

                <div class="desc text-left">
                    <p>
                        I love api wrappers, and I love .net. I wanted to work with untappd, and there was no .NET wrapper. So I decided to make one.
                    </p>
                </div>
                <a class="btn btn-cta-secondary" href="https://github.com/tparnell8/Untappd.Net/" target="_blank"><i class="fa fa-github"></i> Project on github</a>
            </div>
            @*<div class="item featured text-center">
                <h3 class="title"><a href="https://github.com/owin-middleware/OwinOAuthProviders/pull/47" target="_blank">Twitch OAuth Provider C#</a></h3>
                <p class="summary">A provider to allow C# devs to log people in with twitch</p>
                <div class="featured-image">
                    <a href="https://github.com/owin-middleware/OwinOAuthProviders/pull/47" target="_blank">
                        <img class="img-responsive project-image" src="http://s.jtvnw.net/jtv_user_pictures/hosted_images/Twitch_BlackLogoURL.png" alt="Twitch Logo" />
                    </a>
                    @*<div class="ribbon">
                        <div class="text">App</div>
                    </div>
                </div>

                <div class="desc text-left">
                    <p>I am a huge fan of OAuth. Simply speaking it is the mechanism that allows websites to have <i>Login with facebook</i> style buttons. Recently I was working on a project where I wanted to log someone in with <a href="http://twitch.tv" target="blank">Twitch</a>.
                        Unfortunately looking through the Internet I was unable to find a .NET implementation.
                    </p>
                    <p>
                        I came across a cool <a href="https://github.com/owin-middleware/OwinOAuthProviders">OWIN Oauth provider</a>, but unfortunately they did not have an implementation for twitch. So I did the grunt work, and submitted <a href="https://github.com/owin-middleware/OwinOAuthProviders/pull/47">a pull request</a>.
                    </p>
                </div>
                <a class="btn btn-cta-secondary" href="https://github.com/owin-middleware/OwinOAuthProviders/pull/47" target="_blank"><i class="fa fa-code-fork"></i> View Pull Request</a>
            </div>*@
        </div>
    </div>
</section>