<div class="secondary col-md-4 col-sm-12 col-xs-12">
    <aside class="info aside section">
        <div class="section-inner">
            <h2 class="heading sr-only">Basic Information</h2>
            <div class="content">
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Boston Area</li>
                    <li><i class="fa fa-file-text-o"></i><span class="sr-only">Resume</span><a href="http://resume.tommyparnell.com">Resume</a></li>
                    <li><i class="fa fa-link"></i><span class="sr-only">Blog:</span><a href="http://blog.tommyparnell.com">Blog</a></li>
                    <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:tparnell8@gmail.com">tparnell8@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </aside>

    <aside class="skills aside section">
        <div class="section-inner">
            <h2 class="heading">Skills</h2>
            <div class="content">
                <p class="intro">
                    I am heavily versed in .NET technologies, but that does not mean I cannot work with others. I love JavaScript (including node.js), I can use Ruby, and Dart. I am quick to pick up new technologies.
                </p>

                <div class="skillset">

                    <div class="item">
                        <h3 class="level-title">C#/.NET<span class="level-label">Expert</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Pro</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label">Pro</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="93%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Azure<span class="level-label">Pro</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">AWS<span class="level-label">Intermediate</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Ruby<span class="level-label">Intermediate</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Puppet<span class="level-label">Intermediate</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Unity<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="Actively Learning"><i class="fa fa-info-circle"></i></span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">XNA/Monogame<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="Actively Learning"><i class="fa fa-info-circle"></i></span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>
                        </div>
                    </div>
                    <p><a class="more-link" href="https://coderwall.com/tparnell8"><i class="fa fa-external-link"></i> More on Coderwall</a></p>
                </div>
            </div>
        </div>
    </aside>
    
        <aside class="testimonials aside section">
            <div class="section-inner">
                <h2 class="heading">Testimonials</h2>
                <div class="content">
                    <div class="item">
                        <blockquote class="quote">
                            <p><i class="fa fa-quote-left"></i>Tommy has been instrumental at increasing our web presence, but much more than that, he has increased the technological knowledge of our internal staff. Empowering our employees with the tools to edit our website on the fly, and the knowledge to identify improvement areas that can be resolved with proper IT infrastructure. He has also been monumental at creating new internal software, which has exponentially increased our competitive advantage against other companies in our space.</p>
                        </blockquote>
                        <p class="source"><span class="name">Richard Warren</span><br /><span class="title">Founder Mold Assessing and Remediation Services, LLC</span></p>
                    </div>

                    <p><a class="more-link" href="https://www.linkedin.com/pub/tommy-parnell/24/722/63a"><i class="fa fa-external-link"></i>More on Linkedin</a></p>
                </div>
            </div>
        </aside>
    <aside class="education aside section">
        <div class="section-inner">
            <h2 class="heading">Education</h2>
            <div class="content">
                <div class="item">
                    <h3 class="title"><i class="fa fa-graduation-cap"></i> B.S. Information Technology</h3>
                    <h4 class="university">Southern New Hampshire University <span class="year">(2012-2014)</span></h4>
                </div>
                <div class="item">
                    <h3 class="title"><i class="fa fa-graduation-cap"></i> A.S. Information Technology</h3>
                    <h4 class="university">GreatBay Community College <span class="year">(2010-2012)</span></h4>
                </div>
            </div>
        </div>
    </aside>

    <aside class="languages aside section">
        <div class="section-inner">
            <h2 class="heading">Languages</h2>
            <div class="content">
                <ul class="list-unstyled">
                    <li class="item">
                        <span class="title"><strong>English:</strong></span>
                        <span class="level">Native Speaker <br class="visible-xs" /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                    </li>
                    <li class="item">
                        <span class="title"><strong>Sign Language (US):</strong></span>
                        <span class="level">Somewhat Proficient <br class="visible-sm visible-xs" /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <aside class="list conferences aside section">
        <div class="section-inner">
            <h2 class="heading">Conferences</h2>
            <div class="content">
                <ul class="list-unstyled">
                    <li><i class="fa fa-calendar"></i> <a href="http://monitorama.com/" target="_blank">Monitorama 2015</a> (Portland)</li>
                    <li><i class="fa fa-calendar"></i> <a href="http://monitorama.com/" target="_blank">Monitorama 2014</a> (Portland)</li>
                    <li><i class="fa fa-calendar"></i> <a href="http://devopsenterprise.io/">DevOps Enterprise</a> (San Fransisco)</li>
                </ul>
            </div>
        </div>
    </aside>
</div>