<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p>Sysadmin turned Software Engineer. I love to solve huge web problems. I love .NET, but I am open to using any language/technology. I really enjoy working with cloud technologies, and utilizing the latest Continous Intergration techniques</p>

            <p>On my free time I like to play guitar, and tinker with cloud providers</p>

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->